name: file-outputs

on:
  workflow_dispatch:

jobs:
  store-from-file:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.store-output.outputs.str1 }}
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: '21'
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: morelandc/java-program
      - name: Store file output
        id: store-output
        run: echo "srt1=$(java ./src/Main.java)" >> "$GITHUB_OUTPUT"
      - name: Access output
        run: echo "Greeting is ${{ steps.store-output.outputs.output1 }}"
