name: file-outputs

on:
  workflow_dispatch:

jobs:
  store-from-file:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.str1 }}
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: '21'
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: morelandc/java-program
      - name: Run Java file
        run: java ./src/Main.java
          
        
