name: text-output

on:
  workflow_dispatch:

jobs:
  store-from-file:
    runs-on: ubuntu-latest
    outputs:
      my-num: ${{ steps.store-file-text.outputs.num1 }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: morelandc/text-file
      - id: store-file-text
        run: |
          echo "num1=$(cat numbers.txt)" >> "$GITHUB_OUTPUT"
          echo "Output is: ${{ steps.store-file-text.outputs.num1 }}"
