name: text-output

on:
  workflow_dispatch:

jobs:
  store-from-file:
    runs-on: ubuntu-latest
    outputs:
      my-num: ${{ step.store-file-text.outputs.num1 }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: morelandc/text-file
      - id: store-file-text
        run: |
